<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>ESTUDO PRÁTICO MULTER</title>
</head>
<body>
    <h1>Formulário para Registro do Usuário</h1>
    
    <!-- Warning: Atributo Enctype para processamento de arquivo-->
    <form action="/cadastro" method="post" enctype="multipart/form-data"> 
        
        <label>Nome Completo:</label>
        <input type="text" name="nomeUsuario">

        <label>E-mail:</label>
        <input type="email" name="emailUsuario">

        <label>Imagem de perfil:</label>
        <input type="file" name="imagemUsuario">
        <br>
        <br>
        <button type="submit">REGISTRAR</button>

    </form>
    <br>
    <button><a href="/">Voltar</a></button>
    
</body>
</html>