<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>ESTUDO PRÁTICO MULTER</title>
</head>
<body>
    <h1>ESTUDO PRÁTICO BIBLIOTECA MULTER</h1>
    
    <img width="200" src="/images/1.png" alt="pagina nao encontrada">

    <br>
    <br>

    <a href="/cadastro">Coleta de dados via biblioteca Multer</a>
    
</body>
</html>